@{
  Layout = "_Layout";
}

<h1>Hair Salon Directory</h1>
<hr />
<h4><a href="/stylists">View all Stylists</a></h4>
<h4><a href="/stylistsForm">Add a new Stylist</a></h4>
@* <h4><a href="/clients">View all Clients</a></h4> *@
